@model DatasetsView
@* <h4>&nbsp;Datasets.</h4> *@

&nbsp;
<div class="container">
    <section>
        @foreach (var dataset in Model.Datasets)
        {
            <div class="bg-dark" style="box-shadow: 5px 10px 8px #888888;">
                <a><span class="nav_link" style="float:right">...</span></a><a href="@string.Format("https://{0}/Reportserver/Datasets?%2fDatasets/{1}", @Model.ReportServerName, dataset.Name)" class="nav_link"><i class="bx bx-table"></i><span class="nav_name">@dataset.Name</span></a>
            </div>
        }
    </section>
</div>
@* https://localhost/Reports/manage/catalogitem/properties/Datasets/** TODO: add this as option in "..."" manage view*@
