@model SubscriptionsView

@using ReportingServices.Api.Models
@using ExtRS.Portal.Controllers;

<style>
    a.button {
        background: url(../Images/image.gif) no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<script>
   
</script>
<div class="container">
    @*     <a href="#" onclick="createSubscription(reportId, 'Subscription created');">Create Subscription</a><br /> *@
    <section id="subscriptions">
        @{
            string html = SubscriptionsController.GetSubscriptionsHtml(@Model.Subscriptions);
            @Html.Raw(html)
        }
        <input type="button"
               value="Create a Subscription"
               onclick="location.href='@Url.Action("Subscription", "Subscriptions")'" class="ui-button" style="float:right; margin-bottom:2%; margin-bottom:2%" />
    </section>
</div>
