@model SubscriptionsView

@using ReportingServices.Api.Models
@using ExtRS.Portal.Controllers;

<style>
    a.button {
        background: url(../Images/image.gif) no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<script>
    function createSubscription(reportId, message) {
        $.ajax({
            type: 'POST',
            url: '/Subscriptions/CreateSubscriptionAjax',
            data: { reportId: rptId },
            success: function (response) {
                toastr.success(message);
                $('#subscriptions').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        });
    }

    function deleteSubscription(id, message) {
        $.ajax({
            type: 'POST',
            url: '/Subscriptions/DeleteSubscriptionAjax',
            data: { "id": id },
            beforeSend: function (e) {

            },
            success: function (response) {
                toastr.success(message);
                $('#subscriptions').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        });
    }
</script>
<div class="container">
    @*     <a href="#" onclick="createSubscription(reportId, 'Subscription created');">Create Subscription</a><br /> *@
    <section id="subscriptions">
        @{
            string html = SubscriptionsController.GetSubscriptionsHtml(@Model.Subscriptions);
            @Html.Raw(html)
        }
    </section>
</div>
