@model DashboardView

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/bullet.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<style>
    #container {
        min-width: 310px;
        max-width: 1200px;
        height: 200px;
        margin: 0 auto;
    }

    .highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

#cpu {
    height: 100%;
    width:100%;
    position:relative;
}

#container {
  height: 450px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

</style>
<head>
    <script>
        var d = new Date();
        $(document).ready(function () {
            setInterval(function () {
                var d = new Date();
                $('.highcharts-subtitle')[0].innerHTML = d.toLocaleDateString() + ' at ' + d.toLocaleTimeString();
            }, 1000);

            const ranges = [
                [13.7, 25.6],
                [13.3, 21.8],
                [11.2, 19.9],
                [7.9, 17.3],
                [4.9, 20.6],
                [5.1, 16.8],
                [9.3, 21.1],
                [11.1, 20.5],
                [8.9, 18.4],
                [4.6, 23.2],
                [11.5, 26.0],
                [8.6, 23.4],
                [9.8, 22.2],
                [8.1, 18.2],
                [5.9, 20.2],
                [4.5, 20.2],
                [8.9, 19.8],
                [11.1, 22.1],
                [7.9, 26.7],
                [15.9, 28.6],
                [14.9, 27.5],
                [9.5, 26.0],
                [11.5, 22.4],
                [8.6, 21.1],
                [12.9, 21.7],
                [13.6, 20.9],
                [9.6, 23.9],
                [8.6, 22.7],
                [7.5, 25.7],
                [5.5, 24.3],
                [10.4, 21.2]

            ],
                averages = [
                    [18.1],
                    [17.1],
                    [15.2],
                    [12.7],
                    [13.3],
                    [10.6],
                    [15.6],
                    [16.1],
                    [14.0],
                    [15.3],
                    [17.5],
                    [17.5],
                    [15.3],
                    [13.9],
                    [13.7],
                    [13.8],
                    [14.0],
                    [15.8],
                    [18.6],
                    [21.5],
                    [19.8],
                    [17.6],
                    [16.8],
                    [15.6],
                    [16.7],
                    [16.3],
                    [17.2],
                    [16.0],
                    [16.9],
                    [16.1],
                    [14.5]
                ];

            Highcharts.chart('tree', {
                chart: {
                    marginTop: 40,
                    inverted: true,
                    type: 'bullet',
                    height: '33%'
                },
                title: {
                    text: 'RDBMS market revenue 2024 YTD'
                },
                xAxis: {
                    categories: [
                        '<span class="hc-cat-title">Revenue</span><br/>U.S. $ ' +
                        '(1,000s)'
                    ]
                },
                yAxis: {
                    plotBands: [{
                        from: 0,
                        to: 150,
                        color: '#666'
                    }, {
                        from: 150,
                        to: 225,
                        color: '#999'
                    }, {
                        from: 225,
                        to: 9e9,
                        color: '#bbb'
                    }],
                    title: null
                },
                series: [{
                    name: 'DB2',
                    data: [{
                        y: 175,
                        target: 150
                    }]
                },
                {
                    name: 'Oracle',
                    data: [{
                        y: 255,
                        target: 250
                    }]
                },
                {
                    name: 'SQL Server',
                    data: [{
                        y: 297,
                        target: 250
                    }]
                }
                ],
                    tooltip: {
                        pointFormat: '<b>{point.y}</b> (with target at {point.target})'
                    },
                    plotOptions: {
                        series: {
                            pointPadding: 0.25,
                            borderWidth: 0,
                            color: '#000',
                            targetOptions: {
                                width: '200%'
                            }
                        }
                    },
                });

            // Plugin to add a pulsating marker on add point
            Highcharts.addEvent(Highcharts.Series, 'addPoint', e => {
                const point = e.point,
                    series = e.target;

                if (!series.pulse) {
                    series.pulse = series.chart.renderer.circle()
                        .add(series.markerGroup);
                }
                setTimeout(() => {
                    series.pulse
                        .attr({
                            x: series.xAxis.toPixels(point.x, true),
                            y: series.yAxis.toPixels(point.y, true),
                            r: series.options.marker.radius,
                            opacity: 1,
                            fill: series.color
                        })
                        .animate({
                            r: 20,
                            opacity: 0
                        }, {
                            duration: 1000
                        });
                }, 1);
            });

            // Highcharts.chart('dow', {
            //     chart: {
            //         type: 'scatter',
            //         height: "33%",
            //         margin: [70, 50, 60, 80],
            //         events: {
            //             click: function (e) {
            //                 // find the clicked values and the series
            //                 const x = Math.round(e.xAxis[0].value),
            //                     y = Math.round(e.yAxis[0].value),
            //                     series = this.series[0];

            //                 // Add it
            //                 series.addPoint([x, y]);

            //             }
            //         }
            //     },
            //     title: {
            //         text: 'Enter data by clicking the responsive line chart',
            //         align: 'center'
            //     },
            //     subtitle: {
            //         text: 'Click to add a point. Click a point to remove it.',
            //         align: 'center'
            //     },
            //     accessibility: {
            //         announceNewData: {
            //             enabled: true
            //         }
            //     },
            //     xAxis: {
            //         gridLineWidth: 1,
            //         minPadding: 0.2,
            //         maxPadding: 0.2,
            //         maxZoom: 60
            //     },
            //     yAxis: {
            //         title: {
            //             text: 'Value'
            //         },
            //         minPadding: 0.2,
            //         maxPadding: 0.2,
            //         maxZoom: 60,
            //         plotLines: [{
            //             value: 0,
            //             width: 1,
            //             color: '#808080'
            //         }]
            //     },
            //     legend: {
            //         enabled: false
            //     },
            //     exporting: {
            //         enabled: false
            //     },
            //     plotOptions: {
            //         series: {
            //             stickyTracking: false,
            //             lineWidth: 3,
            //             point: {
            //                 events: {
            //                     click: function () {
            //                         if (this.series.data.length > 1) {
            //                             this.remove();
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     },
            //     series: [{
            //         data: [[20, 20], [80, 80]],
            //         color: Highcharts.getOptions().colors[3],
            //         marker: {
            //             lineWidth: 2,
            //             radius: 6
            //         }
            //     }]
            // });

            // Now create the chart
            Highcharts.chart('sales', {
                chart: {
                    type: 'area',
                     height: '33%'
                },
                accessibility: {
                    description: 'Worldwide RDBMS market share'
                },
                title: {
                    text: 'RDBMS market share'
                },
                subtitle: {
                    text: 'Source: <a href="https://www.quora.com/What-is-the-current-market-share-of-SQL-Server-in-the-enterprise-database-market-Has-it-overcome-Oracle-recently"' +
                        'target="_blank">ref</a>'
                },
                xAxis: {
                    allowDecimals: false,
                    accessibility: {
                        rangeDescription: 'Range: 1990 to 2025.'
                    }
                },
                yAxis: {
                    title: {
                        text: 'RDBMS market share'
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} had <b>{point.y:,.0f}</b><br/>' +
                        '% market share in {point.x}'
                },
                plotOptions: {
                    area: {
                        pointStart: 1990,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'SQL Server',
                    data: [
                        1, 1, 1, 2, 2, 2, 3.2, 3.5, 3.2, 4, 6, 5.8, 7,
                        8, 8, 9.4, 12.2, 14.5, 12.8, 15.8, 19.8, 22.8, 25.5,
                        26.3, 25.7, 27.2, 26.3, 29.5, 31.8, 34.8, 39.8, 41.8, 42.9, 43.9, 44.9, 47.9, 48.9
                    ]
                }, {
                    name: 'Oracle',
                    data: [
                        70, 69, 71, 73.2, 74.4, 75.1, 77.2, 78.2, 78.7,
                        77.2, 75.2, 70.3, 68.8, 69.2, 67.3, 67.5, 64.2, 62.1, 63.2, 60.2, 60.1, 61.2,
                        58.2, 57.2, 55.3, 49.8, 51.1, 52, 54.4, 51.1, 49.3, 46.2, 43.2, 41.1, 40.1, 39.1, 37.1
                    ]
                }]
            });

            const onChartLoad = function () {
                const chart = this,
                    series = chart.series[0];

                setInterval(function () {
                    const x = (new Date()).getTime(), // current time
                        y = Math.random();

                    series.addPoint([x, y], true, true);
                }, 1000);
            };

            // Create the initial data
            const data = (function () {
                const data = [];
                const time = new Date().getTime();

                for (let i = -19; i <= 0; i += 1) {
                    data.push({
                        x: time + i * 1000,
                        y: Math.random()
                    });
                }
                return data;
            }());

            // Plugin to add a pulsating marker on add point
            Highcharts.addEvent(Highcharts.Series, 'addPoint', e => {
                const point = e.point,
                    series = e.target;

                if (!series.pulse) {
                    series.pulse = series.chart.renderer.circle()
                        .add(series.markerGroup);
                }

                setTimeout(() => {
                    series.pulse
                        .attr({
                            x: series.xAxis.toPixels(point.x, true),
                            y: series.yAxis.toPixels(point.y, true),
                            r: series.options.marker.radius,
                            opacity: 1,
                            fill: series.color
                        })
                        .animate({
                            r: 20,
                            opacity: 0
                        }, {
                            duration: 1000
                        });
                }, 1);
            });


            Highcharts.chart('cpu', {
                chart: {
                    type: 'spline',
                    events: {
                        load: onChartLoad
                    },
                    height: '15%'
                },

                time: {
                    useUTC: false
                },

                title: {
                    text: 'Report Server CPU (%)',
                    align: 'center'
                },

                accessibility: {
                    announceNewData: {
                        enabled: true,
                        minAnnounceInterval: 15000,
                        announcementFormatter: function (allSeries, newSeries, newPoint) {
                            if (newPoint) {
                                return 'New point added. Value: ' + newPoint.y;
                            }
                            return false;
                        }
                    }
                },

                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxPadding: 0.1
                },

                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }
                    ]
                },

                tooltip: {
                    headerFormat: '<b>{series.name}</b><br/>',
                    pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
                },

                legend: {
                    enabled: false
                },

                exporting: {
                    enabled: false
                },

                series: [
                    {
                        name: 'Random data',
                        lineWidth: 2,
                        color: Highcharts.getOptions().colors[2],
                        data
                    }
                ]
            });

        // $(window).resize(function() 
        // {    
        //     chart.setSize(
        //        $(document).width(), 
        //        $(document).height()/2,
        //        false
        //     );   
        // });

        });
    </script>
</head>

<table style="width: 100%; height:50%">
    <tr><td colspan="2"><div id="cpu"></div></td></tr>
    <tr><td style="width:50%"><div id="tree"></div></td><td style="width:50%"><div id="sales"></div></td></tr>
</table>
<iframe src="https://tickertapes.net?embedded=true" style="width:100%; height:23%"></iframe>
