@model DashboardView

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<style>
    #container {
        min-width: 310px;
        max-width: 1200px;
        height: 600px;
        margin: 0 auto;
    }

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

</style>
<head>
    <script>
        var d = new Date();
        $(document).ready(function () {
            Highcharts.chart('cpu', {
                chart: {
                    type: 'bar',
                    backgroundColor: '#000000',
                    style: {
                        fontFamily: 'monospace',
                    }
                },
                title: {
                    text: 'SQL Server CPU(%) by instance',
                    style: {
                        color: "lightblue"
                    }
                },
                legend: {
                    enabled: false
                },
                subtitle: {
                    text: d.toLocaleDateString() + ' at ' + d.toLocaleTimeString()
                },
                data: {
                    csvURL: 'https://demo-live-data.highcharts.com/vs-load.csv',
                    enablePolling: true,
                    dataRefreshRate: 1
                },
                plotOptions: {
                    bar: {
                        colorByPoint: true
                    },
                    series: {
                        zones: [{
                            color: '#4CAF50',
                            value: 0
                        }, {
                            color: '#8BC34A',
                            value: 10
                        }, {
                            color: '#CDDC39',
                            value: 20
                        }, {
                            color: '#CDDC39',
                            value: 30
                        }, {
                            color: '#FFEB3B',
                            value: 40
                        }, {
                            color: '#FFEB3B',
                            value: 50
                        }, {
                            color: '#FFC107',
                            value: 60
                        }, {
                            color: '#FF9800',
                            value: 70
                        }, {
                            color: '#FF5722',
                            value: 80
                        }, {
                            color: '#F44336',
                            value: 90
                        }, {
                            color: '#F44336',
                            value: Number.MAX_VALUE
                        }],
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}%'
                        }
                    }
                },
                tooltip: {
                    valueDecimals: 1,
                    valueSuffix: '%'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        style: {
                            fontSize: '10px',
                            color: "lightblue"
                        }
                    }
                },
                yAxis: {
                    max: 100,
                    title: false,
                    plotBands: [{
                        from: 0,
                        to: 30,
                        color: '#E8F5E9'
                    }, {
                        from: 30,
                        to: 70,
                        color: '#FFFDE7'
                    }, {
                        from: 70,
                        to: 100,
                        color: '#FFEBEE'
                    }]
                }
            });

            setInterval(function () {
                var d = new Date();
                $('.highcharts-subtitle')[0].innerHTML = d.toLocaleDateString() + ' at ' + d.toLocaleTimeString();
            }, 1000);

            $.get('DJI.csv', function (csv) {
                Highcharts.chart('dow', {
                    chart: {
                        type: 'area',
                        backgroundColor: '#000000',
                        style: {
                            fontFamily: 'monospace'
                        },
                        style: {
                            color: "lightblue"
                        }
                    },
                    data: {
                        // enablePolling: true,
                        csv: csv
                    },
                    title: {
                        text: 'DJIA YTD',
                        style: {
                            color: "lightblue"
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Close',
                            style: {
                                color: "lightblue"
                            }
                        }
                    }
                });
            });

             $.get('exceptions.csv', function (csv) {
                Highcharts.chart('tree', {
                    chart: {
                        type: 'treemap',
                        backgroundColor: '#000000',
                        style: {
                            fontFamily: 'monospace'
                        },
                        style: {
                            color: "lightred"
                        }
                    },

                    colorAxis: {
                        minColor: '#FFFFFF',
                        maxColor: Highcharts.getOptions().colors[5]
                    },

                    series: [{
                        type: 'treemap',
                        layoutAlgorithm: 'squarified',
                        keys: ['name', 'value', 'colorValue']
                    }],

                    data: {
                        csv: csv
                    },
                    title: {
                        text: 'Service Exceptions',
                        style: {
                            color: "lightblue"
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Close',
                            style: {
                                color: "lightred"
                            }
                        }
                    }
                });
            });

            Highcharts.chart('sales', {
                chart: {
                    backgroundColor: '#000000',
                },
               
                title: {
                    text: 'Daily Sales',
                    style: {
                        color: "lightblue"
                    }
                },

                subtitle: {
                    text: '',
                },

                yAxis: {
                    title: {
                        text: '$'
                    },
                    style: {
                        color: "lightblue"
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 2020 to 2023'
                    }
                },

                legend: {
                    enabled: false
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 2010
                    }
                },

                series: [{
                    color: "lightblue",
                    data: [4934, 4656, 7565, 8827, 11243, 14383,
                        171533, 16174, 65517, 7154, 14610, 43934,
                        43934, 43934, 53934, 53934, 133934, 23934, 43934,
                        43934, 43934, 23934,43934, 453934, 33934, 43934,
                        43934, 43934, 13934, 23934, 643934, 43934, 43934,
                         43934, 43934, 43934, 11200, 543934, 43934, 53934,
                          43934, 43934, 113934, 33934, 243934, 43934, 63934,
                           43934, 43934, 63964, 4334, 243934, 43934, 43934,
                            45934, 43934, 43934, 3934, 143934, 432934, 13934,
                             43934, 43934, 43934, 4334, 4934, 43934, 43934,
                              33934, 43934, 73934, 431934, 43934, 43934, 43934,
                               143934, 43934, 43934, 43934, 43934, 43934, 43934,
                        543934, 343934, 43934, 643934, 43934, 43934, 4e3934
                    ]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });

        });
    </script>
</head>

<table style="width: 100%;">
    <tr><td style="height:45%;width:50%"><div id="cpu"></div></td><td style="height:45%;width:50%"><div id="sales"></div></td></tr>
    <tr><td style="height:45%;width:50%"><div id="tree"></div></td><td style="height:45%;width:50%"><div id="dow"></div></td></tr>
</table>
