@model ExtRS.Portal.Domain.Models.ReportView
	<h4>Dashboard</h4>
	<div class="container">
	<section>
		<div style="box-shadow: 5px 10px 8px #888888;">
			<iframe height="500" width="850" src="https://localhost/ReportServer/Pages/ReportViewer.aspx?/Reports/Team&rs:embed=true" class="body-box-shadow"></iframe>
			</div>
		</section>
	</div>
