@model ExtRS.Portal.Models.DashboardView
<h4 style="color:#000000;">ExtRS Dashboard.</h4>
<div class="container" style="background-color:#ffffff">
<section>
	<div style="background-color:#ffffff; box-shadow: 5px 10px 8px #888888;">
		<iframe height="600" width="850" src="https://localhost/ReportServer/Pages/ReportViewer.aspx?/Reports/LeagueSM&rs:embed=true" class="body-box-shadow"></iframe>
	</div>
</section>
</div>
