<script type="text/javascript" language="javascript" class="init">

</script>
<body style="background-color:#000000">


	<div>SSRS</div>
	<p>List of yer reports, dude...</p>
	<br/>
	<br/>
	<div style="background-color:cyan">
		<div>esrgserth</div>
		<div>sdrth</div>
		<div>sethsrth</div>
	</div>

</body>
