@model ReportView
<script>


</script>
<div class="container" style="background-color:#ffffff">
    <section>
        <div style="background-color:#ffffff; box-shadow: 5px 10px 8px #888888;">
            <iframe height="800" width="900" src="@Model.SelectedReport.Uri" class="body-box-shadow"></iframe>
        </div>
    </section>
</div>

