@using ReportingServices.Api.Models
@model SnapshotHistoryView

&nbsp;
<div class="container">
    <section>
        @foreach (var snapshot in Model.HistorySnapshots)
        {
            <div class="bg-dark" style="box-shadow: 2.5px 5px 4px #888888;">
                <a href="@snapshot.Id class="nav_link><i class="bx bx-line-chart"></i><span class="nav_name">@snapshot.CreationDate</span></a>
            </div>
        }
    </section>
</div>
