@model ReportsView
<h4 style="color:#000000;">Reports.</h4>
<div class="container" style="background-color:#ffffff">
	<section>
		@foreach(var report in Model.Reports)
		{
			<div style="background-color:#ffffff; box-shadow: 5px 10px 8px #888888;">
				<a href="@Url.Action("Report", "Reports", new { reportName = report.Name})" class="nav_link"><i class='bx bx-shield nav_icon'></i><span class="nav_name">@report.Name</span></a>
		   </div>
		}
	</section>
</div>
