@model ReportsView
<script>
    $(document).ready(function( $ ) {
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            title: "View Details"
        });
    });

    function asyncManageResourceModal(id) {
        $.ajax({
            type: 'GET',
            url: '/CatalogItems/GetManageResourceModal',
            data: { "id": id },
            success: function (response) {
                $('#dialog').html(response);
                $('#dialog').dialog('open');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        }); 
    }
</script>
<h4>&nbsp;Reports.</h4>

<div class="container">
    <section>
        @foreach (var report in Model.Reports)
        {
            <div class="bg-dark" style="box-shadow: 5px 10px 8px #888888;">
                <span class="nav_link" style="float:right" onclick="asyncManageResourceModal('@report.Id');">...</span><a href="@report.Uri" class="nav_link" target="_blank"><i class="bx bx-line-chart"></i><span class="nav_name">@report.Name</span></a>
            </div>
        }
    </section>
</div>
@* https://localhost/Reports/manage/catalogitem/properties/Reports/{Dave}** TODO: add this as option in "..."" manage view*@
@*<a href="@Url.Action("Report", "Reports", new { reportName = report.Name})" class="nav_link">*@

<div id="dialog" style="display: none">
</div>