@model ReportsView
<style>
    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog-titlebar {
        display: none;
    } 
</style>
<script>
    $(document).ready(function ($) {
        $("body").on("click", function () {
            $(".ui-dialog.clickoncloseoutside:visible")
                .find(".ui-dialog-content")
                .dialog("close");
        });
    });

    function asyncManageResourceModal(id) {
        wireManageResourceModal(id);
        let dialogId = "#dialog" + id;
        $(".ui-dialog-content").dialog("close");
        $.ajax({
            type: 'GET',
            url: '/CatalogItems/GetManageResourceModal',
            data: { "id": id },
            success: function (response) {
                $(dialogId).html(response);
                $(dialogId).dialog('open');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        });
    }

    function wireManageResourceModal(id) {
        let dialogId = "#dialog" + id;
        $(dialogId).dialog({
            autoOpen: false,
            modal: false,
            hide: { effect: 'drop', duration: 200 },
            dialogClass: "clickoncloseoutside",
            position: { my: "right top", at: "left center", of: "#" + id }
        });
    }
</script>
&nbsp;
<div class="container">
    <section>
        @foreach (var report in Model.Reports)
        {
            <div id=@("dialog" + report.Id) class="dialog" style="display: none">
            </div>
            <div class="bg-dark" style="box-shadow: 2.5px 5px 4px #888888;">
                <span id="@report.Id" class="nav_link" style="float:right" onclick="asyncManageResourceModal('@report.Id');">
                    <a href="#">
                        ...
                    </a>
                </span><a href="@report.Uri" class="nav_link" target="_blank"><i class="bx bx-line-chart"></i><span class="nav_name">@report.Name</span></a>
            </div>
        }
    </section>
</div>
