@model ExtRS.Portal.Domain.Models.ReportView

<body id="body-pd" class="dt-example net">
	<h4>Dashboard</h4>
	<div class="container">
		<section>
			<div class="demo-html">
				@*<table id="example" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>First name</th>
							<th>Last name</th>
							<th>Position</th>
							<th>Office</th>
							<th width="18%">Start date</th>
							<th>Salary</th>
						</tr>
					</thead>
				</table>*@
			</div>
		</section>
	</div>
</body>
